<% layout("/layouts/boilerplate") %>

<h1 class="col-6 offset-3 mt-3">Send Reminder</h1>
<div class="row mt-3">
    <div class="col-6 offset-3">
        <form method="POST" action="/listings/<%= listing._id %>/share" class="needs-validation" novalidate>
            <div class="mb-3">
                <label for="subject" class="form-label">Subject</label>
                <input type="text" name="subject" id="subject" class="form-control" placeholder="Enter the subject" required>
            </div>
            <div class="mb-3">
                <label for="content" class="form-label">Message</label>
                <textarea name="content" id="content" class="form-control" rows="4" placeholder="Enter the content" required></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Send to User</button>
        </form>
    </div>
</div>
